#flower
{
    height: 100px;
    float: left;
}
#name
{
    font-size: 25px;
    color: indigo;
    font-family: Lucida Handwriting, Arial, sans-serif;
}
header span:first-child
{
    margin-left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
header
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid indigo;
}
#menu
{
    margin-right: 0;
    display: flex;
    align-items: center;
}
#menu>ul
{
    color: indigo;
    padding-right: 30px;
    list-style: none;
}
#menu>ul>li
{
    font-size: 15px;
    font-family: Lucida Handwriting, Arial, sans-serif;
    padding-right: 10px;
    display: inline;
}
li a
{
    text-decoration: none;
    color: indigo;
}
#current
{
    color: #e0c5fc;
}
body>p
{
    color: indigo;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Lucida Handwriting, Arial, sans-serif;
    text-align: center;
    background-color: #e0c5fc;
}
#center
{
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}
footer
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    border-top: 2px solid indigo;
}
#copy
{
    color: indigo;
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
}
#maintexthome
{
    display: inline-block;
    color: indigo;
    font-family: Lucida Handwriting, Arial, sans-serif;
    font-size: 50px;
}
#center>img
{
    height: 350px;
}
#main
{
    margin-top: 10px;
    height: 700px;
    background-color: #e0c5fc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#main-oops
{
    margin-top: 10px;
    height: 758px;
    background-color: #e0c5fc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#learn
{
    display: flex;
    justify-content: end;
}
#learn>a
{
    color: indigo;
    padding-top: 150px;
    padding-right: 50px;
}
#awkward
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#awkward>img
{
    height: 500px;
}
#learn>p
{
    color: indigo;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 50px;
}
#learn>p>a
{
    color: indigo;
}
#ul_ed
{
    margin: 0;
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.ed
{
    display: inline-block;
    padding: 50px;
    margin: 0 20px 20px 20px;
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 10px;
}
.ed>p
{
    color: indigo;
    font-size: 20px;
    text-align: center;
}
.ed>p:first-child
{
    margin-top: 0;
    font-weight: bold;
}
#ul_ff
{
    margin: 0;
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.ff
{
    display: inline-block;
    padding: 50px;
    background-color: white;
    height: 430px;
    width: 250px;
    border-radius: 10px;
}
.ff>p
{
    color: indigo;
    font-size: 20px;
    text-align: center;
}
.ff>p:first-child
{
    margin-top: 0;
    font-weight: bold;
}
.ff:nth-child(2n)
{
    margin-top: 100px;
}
.scroll
{
    margin: 0;
    height: 400px;
    width: 260px;
    background-color: white;
    color: indigo;
    font-size: 20px;
    overflow: auto;
}
#lava
{
    height: 150px;
    border-radius: 10px;
    margin-left: 50px;
}
#lasagna
{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    margin-left: 25px;
}
#crepes
{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    margin-left: 25px;
}
#rice
{
    height: 150px;
    border-radius: 10px;
    margin-left: 50px;
}
.steps
{
    text-align: justify;
    margin-right: 10px;
}
.scroll>div>p:first-child
{
    margin-top: 30px;
}
.scroll::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.scroll::-webkit-scrollbar-track {
    border: 1px solid indigo;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background: indigo;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #e0c5fc;
}
.scroll>div>p
{
    font-weight: bold;
}
#ul_interest
{
    margin: 0;
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.interest
{
    display: inline-block;
    margin: 0 20px 20px 20px;
    background-color: white;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
.interest>p
{
    color: indigo;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}
#f1
{
    height: 200px;
    border-radius: 10px;
    margin-left: 45px;
}
#cook
{
    height: 200px;
    border-radius: 10px;
    margin-left: 55px;
}
#read
{
    height: 200px;
    border-radius: 10px;
    margin-left: 100px;
}
#paint
{
    height: 200px;
    border-radius: 10px;
    margin-left: 100px;
}
#game
{
    height: 200px;
    border-radius: 10px;
    margin-left: 25px;
}
#car
{
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
}
